.featured {
    font-size: 18px;
    font-family: Inter;
    font-weight: bold;
    color: #FFB100;
    margin-top: 50px;
    margin-left: 40px;
    position: absolute;
}

.bookContainer {
    background-color: #FBEECF;
    width: 100%;
    height: 450px;
    margin-top: 70px;
    position: absolute;
}

.bookTitle {
    font-size: 48px;
    line-height: 60px;

    font-weight: bold;
    text-align: justify;
    font-family: sans-serif;
    margin-left: 80px;
    margin-top: 20px;
}