.popularNow {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 40px;
    position: absolute;
}
 
img.bookImage {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
}
 
.bookOneContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 60px;
    margin-left: 100px;
    position: absolute;
}

.bookTitle {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
}

.bookPrice {
    font-family: sans-serif;
    font-size: 13px;
    text-align: left;
    font-style: italic;
    margin-left: 130px;
    font-weight: bold;
    margin-top: 20px;
}
 
.bookOneText {
    background-color: #F5DB9D;
    width: 195px;
    height: 100px;
    margin-top: 230px;
    margin-left: 100px;
    position: absolute;
}

.bookTwoContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 60px;
    margin-left: 380px;
    position: absolute;
}
 
.bookTwoText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 230px;
    margin-left: 380px;
    position: absolute;
}

.bookThreeContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 60px;
    margin-left: 680px;
    position: absolute;
}
 
.bookThreeText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 230px;
    margin-left: 680px;
    position: absolute;
}

.bookFourContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 60px;
    margin-left: 970px;
    position: absolute;
}
 
.bookFourText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 230px;
    margin-left: 970px;
    position: absolute;
}

.bookFiveContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 60px;
    margin-left: 1260px;
    position: absolute;
}
 
.bookFiveText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 230px;
    margin-left: 1260px;
    position: absolute;
}

.bookSixContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 350px;
    margin-left: 100px;
    position: absolute;
}
 
.bookSixText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 520px;
    margin-left: 100px;
    position: absolute;
}

.bookSevenContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 350px;
    margin-left: 380px;
    position: absolute;
}
 
.bookSevenText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 520px;
    margin-left: 380px;
    position: absolute;
}

.bookEightContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 350px;
    margin-left: 680px;
    position: absolute;
}
 
.bookEightText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 520px;
    margin-left: 680px;
    position: absolute;
}

.bookNineContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 350px;
    margin-left: 970px;
    position: absolute;
}
 
.bookNineText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 520px;
    margin-left: 970px;
    position: absolute;
}

.bookTenContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 350px;
    margin-left: 1260px;
    position: absolute;
}
 
.bookTenText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 520px;
    margin-left: 1260px;
    position: absolute;
}