div.siteHeader {
    display: inline-block;
}

span.siteLogo {
    float: left;
}

.Logo {
    width: 30px;
}

span.siteProfile {
    display: inline-block;
    float: right;
    margin-top: -25px;
    margin-left: 700px;
}

.Profile {
    width: 30px;
}

.headerSearch {
    display: inline-block;
    margin: auto;
    margin-left: 300px;
}

span.siteSearch {
    display: inline-block;
}

.Search {
    background-color: #F5DB9D;
    border: none;
}

.searchSubmit {
    width: 10px;
    height: auto;
    margin-left: -25px;
}

div.siteMenu {
    background-color:#FBEECF;
}