.selected {
    background-color: #EBD49D;
    border-radius: 10px;
    padding: 8px;
    margin-top: -10px;
    
}

.UserProfile{
background-color: #cbb683;
height: 100%;
width: 370px;
position:absolute;
text-align: center;

}

.profileLogo {
    width: 50%;
    margin: auto;
}

.profileBio{
    text-align: left;
    font-weight: none;
    font-size: 20px;
    margin-left: 25px;
}

.OrderHistory {
    float: right;
    font-weight: bold;
    margin-right: 900px;
    margin-top: 10px;
    font-size: 26px;
    text-decoration: underline;
}

.Wishlist {
    font-weight: bold;
    margin-left: 470px;
    margin-top: 330px;
    font-size: 26px;
    text-decoration: underline;
    position: absolute;
}

.HistoryBooksContainer_One {
    width: 7%;
    float: right;
}

.HistoryBooksContainer_Two {
    width: 7%;
    float: left;
}

.star{
    margin-bottom:auto;
    width:10%;
}

img.bookImage {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
}
 
.bookOneContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 45px;
    margin-left: 80px;
    position: absolute;
}

.bookTitle {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.bookPrice {
    font-family: sans-serif;
    font-size: 13px;
    text-align: left;
    font-style: italic;
    margin-left: 120px;
    font-weight: bold;
    margin-top: 20px;
}
 
.bookOneText {
    background-color: #F5DB9D;
    width: 195px;
    height: 100px;
    margin-top: 225px;
    margin-left: 80px;
    position: absolute;
}

.bookTwoContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 45px;
    margin-left: 380px;
    position: absolute;
}
 
.bookTwoText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 225px;
    margin-left: 380px;
    position: absolute;
}

.bookThreeContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 45px;
    margin-left: 680px;
    position: absolute;
}
 
.bookThreeText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 225px;
    margin-left: 680px;
    position: absolute;
}

.bookFourContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 45px;
    margin-left: 970px;
    position: absolute;
}
 
.bookFourText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 225px;
    margin-left: 970px;
    position: absolute;
}

.bookFiveContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 366px;
    margin-left: 430px;
    position: absolute;
}
 
.bookFiveText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 546px;
    margin-left: 430px;
    position: absolute;
}

.bookSixContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 366px;
    margin-left: 735px;
    position: absolute;
}
 
.bookSixText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 546px;
    margin-left: 735px;
    position: absolute;
}

.bookSevenContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 366px;
    margin-left: 1035px;
    position: absolute;
}
 
.bookSevenText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 546px;
    margin-left: 1035px;
    position: absolute;
}

.bookEightContainer {
    background-color: #FBEECF;
    width: 195px;
    height: 180px;
    margin-top: 366px;
    margin-left: 1325px;
    position: absolute;
}
 
.bookEightText {
    background-color: #F5DB9D;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 195px;
    height: 100px;
    margin-top: 546px;
    margin-left: 1325px;
    position: absolute;
}

span {
    font-size: 14px;
}